.Header-heading, .Header-navbar {
  text-align: center;
  padding: 15px 0;
}

.Header-navbar-link {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
  padding: 5px 10px;
  margin: 5px;
}